<!-- from news.views import news_details -->
{% extends 'base.html' %}
{% load static %}


{% block title %}
Página Inicial
{% endblock %}

{% block link %}
<a href="{% url 'home-page' %}">Home</a>
{% endblock %}

{% block content %}
{% for new in news %}
<a href="{% url 'news-details-page' new.id %}">
  <h2 class="news-title">{{new.title}}</h2>
  <span class="news-date">{{new.created_at|date:"SHORT_DATE_FORMAT"}}</span>
  {% if new.image %}
  <img src="{% static new.image.url %}" height="50">
</a>
{%endif%}
{% empty %}
{%endfor%}

{% endblock %}