{% extends 'base.html' %}
{% load static %}

{% block title %}
Página de Detalhes da Notícia
{% endblock %}


{% block content %}
<h1 class="news-title">{{ new.title }}</h1>
<p class="news-content">{{ new.content }}</p>
{% for categorie in new.categories.all %}
<span class="news-categories">{{ categorie }}</span>
{% endfor %}
<span class="news-author">{{ new.author }}</span>
<img src="{% static new.image.url %}" alt="{{ new.title }}" height="50">
<span class="news-date">{{new.created_at|date:"SHORT_DATE_FORMAT"}}</span>
{% endblock %}